<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>OpenpayBankPluginDemo</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(OT_EXT_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(OT_BUILD_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>OTHF</string>
	<key>NSContactsUsageDescription</key>
	<string>OTHF</string>
	<key>NSFaceIDUsageDescription</key>
	<string>OTHF</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>OTHF</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>OTHF</string>
	<key>OTML_APP_PREFIX</key>
	<string>$(AppIdentifierPrefix)</string>
	<key>OT_DEVELOPER_VERSION</key>
	<string>$(OT_DEV_VERSION)</string>
	<key>OT_INTERNAL_VERSION</key>
	<string>$(OT_INT_VERSION)</string>
	<key>OT_MULTI_BUNDLE_ENABLED</key>
	<string>true</string>
	<key>UIAppFonts</key>
	<array>
		<string>OpenSans-Bold.ttf</string>
		<string>OpenSans-Regular.ttf</string>
		<string>OpenSans-Light.ttf</string>
		<string>OpenSans-Semibold.ttf</string>
		<string>BNPP Sans Bold.otf</string>
		<string>BNPP Sans.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array/>
	<key>UILaunchStoryboardName</key>
	<string>MockLaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
